<nav *ngIf="router.url != '/usuario/logar' && router.url != '/usuario/cadastro'" class="navbar bg-body-tertiary mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/tarefas/lista">Angular e DotNet</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/usuario/atualizacao">
              Perfil
            </a>
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" routerLink="/usuario/logar">
              Sair
            </a>
          </div>
        </li>
      </ul>
  </div>
</nav>
